.grid {
  margin: 0 -5px;
  position: relative;
  overflow: hidden;
}

.item {
  padding: 10px 5px;
  background-color: transparent;
  position: absolute;
  transition: transform .6s ease-in-out;
}

.item.muuri-item-dragging {
  z-index: 3;
  transition: none;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  padding: 0px 30px;
  width: 100%;
  height: 100%;
  position: relative;
}
