{% if attributes -%}
<div{{ attributes }}>
    {% endif %}
    {% if title %}
        <h3>{{ title }}</h3>
    {% endif %}

    {% for row in rows %}
        <div class="item">
            <div{{ row.attributes.addClass('item-content') }}>
                {{ row.content }}
            </div>
        </div>
    {% endfor %}

    {% if attributes -%}
</div>
{% endif %}
